@model IEnumerable<Order>

@{
    ViewData["Title"] = "Đơn Hàng";
}


<section class="space"></section>

<a class="btn-checkout btn">Đơn Hàng</a>


<table class="table-cart">
    <thead>
        <tr>
            <th class="item">OrderId</th>
            <th class="item">OrderCode</th>
            <th class="item">OrderDate</th>
            <th class="item">UserEmail</th>
            <th class="item">Status</th>


            <th class="remove"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="tbody-item">
                <td>@item.OrderId</td>
                <td>@item.OrderCode</td>
                <td>@item.OrderDate.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@item.UserEmail</td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="badge bg-warning text-dark">Đơn hàng mới</span>
                    }
                    else
                    {
                        <span class="badge bg-success">Đơn hàng thành công</span>
                    }
                </td>
                <td>
                    <a asp-action="ViewOrder" asp-controller="Order" asp-route-ordercode="@item.OrderCode" class="btn btn-warning">Chi Tiết Đơn Hàng</a>
                    <a asp-action="Delete" asp-controller="Order" asp-route-id="@item.OrderId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>